<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="todo">
        待办
      </ion-segment-button>
      <ion-segment-button value="top">
        置顶
      </ion-segment-button>
      <ion-segment-button value="done">
        已办
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateSchedule()" placeholder="搜索">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #workList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups">

      <ion-item-divider sticky>
        <ion-label>
          {{group.Date}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let work of group.works" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="goToWork(work)">
          <h3>{{work.Subject}}</h3>
          <p>
            {{work.ReceiptTime | date: 'HH:mm'}} : {{work.From}}
          </p>
        </button>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addTop(slidingItem, work)" *ngIf="segment === 'todo'">
            置顶
          </button>
          <button ion-button color="danger" (click)="removeTop(slidingItem, work)" *ngIf="segment === 'top'">
            移除
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="groups.length === 0">
    暂无数据...
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="share"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>


</ion-content>